
<h1>About me</h1>

<p>Enthusiastic undergraduate student at VIT Chennai with a strong passion for learning new concepts and solving problems through programming. Seeking opportunities to apply my skills and knowledge in web development and programming to contribute to innovative projects.
    I'm a dedicated team player who understands the importance of collaboration and synergy within a group.I'm eager to work with others, valuing their opinions, and actively contributing to collective goals.
    I'm a member of the Finance Management Club in my college and have actively participated in hosting events represting the club.</p>